<div class="modal-overlay" [class.fade-out]="!isOpen" (click)="closeModal()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <button class="close-button" (click)="closeModal()">✕</button>

    <div class="contact-header">
      <img src="assets/imgs/logos/pigeon.png" alt="pigeon" class="pigeon" *ngIf="!isMobile" />
      <h2 *ngIf="!emailSent && !emailError">{{ 'CONTACT.CONTACT_TITLE' | translate }}</h2>
      <img src="assets/imgs/logos/pigeon.png" alt="pigeon" class="pigeon" *ngIf="!isMobile" />
    </div>

    <form *ngIf="!emailSent && !emailError" (ngSubmit)="sendEmail()">
      <!-- Nome -->
      <div class="label-group">
        <label for="name">{{ 'CONTACT.YOUR_NAME' | translate }}</label>
        <span class="error" *ngIf="errors.name">{{ 'CONTACT.NAME_REQUIRED' | translate }}</span>
      </div>
      <input type="text" id="name" [(ngModel)]="name" name="name">

      <!-- Email -->
      <div class="label-group">
        <label for="email">{{ 'CONTACT.YOUR_EMAIL' | translate }}</label>
        <span class="error" *ngIf="errors.email">{{ 'CONTACT.EMAIL_REQUIRED' | translate }}</span>
        <span class="error" *ngIf="errors.invalidEmail">{{ 'CONTACT.EMAIL_INVALID' | translate }}</span>
      </div>
      <input type="email" id="email" [(ngModel)]="email" name="email">

      <!-- Título -->
      <div class="label-group">
        <label for="title">{{ 'CONTACT.EMAIL_TITLE' | translate }}</label>
        <span class="error" *ngIf="errors.title">{{ 'CONTACT.TITLE_REQUIRED' | translate }}</span>
      </div>
      <input type="text" id="title" [(ngModel)]="title" name="title">

      <!-- Mensagem -->
      <div class="label-group">
        <label for="text">{{ 'CONTACT.EMAIL_SUBJECT' | translate }}</label>
        <span class="error" *ngIf="errors.text">{{ 'CONTACT.TEXT_REQUIRED' | translate }}</span>
      </div>
      <textarea id="text" [(ngModel)]="text" name="text"></textarea>

      <!-- Botão -->
      <button type="submit">{{ 'CONTACT.SEND_EMAIL' | translate }}</button>
    </form>

    <!-- Sucesso -->
    <div *ngIf="emailSent" class="checkmark-animation">
      <div class="checkmark">&#10003;</div>
      <p>{{ 'CONTACT.EMAIL_SENT_SUCCESS' | translate }}</p>
    </div>

    <!-- Erro -->
    <div *ngIf="emailError" class="error-animation">
      <div class="error-mark">&#10007;</div>
      <p>{{ 'CONTACT.EMAIL_SENT_ERROR' | translate }}</p>
    </div>
  </div>
</div>
