<footer id="footer">
    <h3>{{'FOOTER.SUBSCRIBE_MAIL' | translate }}</h3>
    <input class="subscribe-email" type="email" placeholder="{{'FOOTER.EMAIL' | translate }}" [(ngModel)]="email" />

    <button 
    (click)="sendSubscriptionEmail()" 
    [ngClass]="{ 'success': subscriptionSent, 'error': subscriptionError }">
    <ng-container *ngIf="!subscriptionSent && !subscriptionError">
      {{ 'FOOTER.SUBSCRIBE' | translate }}
    </ng-container>
    <ng-container *ngIf="subscriptionSent">
      &#10003;
    </ng-container>
    <ng-container *ngIf="subscriptionError">
      {{ 'FOOTER.SOMETHING_WENT_WRONG' | translate }}
    </ng-container>
  </button>

    <div class="social-icons">
      <a href="https://www.facebook.com/profile.php?id=61552675935567" target="_blank"><i class="fab fa-facebook"></i></a>
      <!-- <a href="#" target="_blank"><i class="fab fa-twitter"></i></a> -->
      <a href="https://www.instagram.com/scumbags.br/" target="_blank"><i class="fab fa-instagram"></i></a>
      <a href="https://www.youtube.com/@scumbagsbr" target="_blank"><i class="fa-brands fa-youtube"></i></a>
      <a href="https://spoti.fi/3bD7BOy" target="_blank"><i class="fa-brands fa-spotify"></i></a>
      <a href="https://scumbagsbr.bandcamp.com/" target="_blank"><i class="fa-brands fa-bandcamp"></i></a>
    </div>
  </footer>
  