<header>
  <div class="header-content">
    <div class="menu-button" (click)="toggleNavDropdown()" *ngIf="isMobile">
      &#9776;
    </div>

    <a href="/" class="logo-wrapper">
      <img src="assets/imgs/logos/red-logo.png" alt="Band Logo" class="logo" />
    </a>

    <nav class="nav-links" *ngIf="!isMobile">
      <a routerLink="/store">{{ 'SCUMSTORE.SCUMSTORE' | translate }}</a>
      <a (click)="scrollTo('tour')">{{ 'TOUR.TOUR' | translate }}</a>
      <a (click)="openContactModal()">{{ 'CONTACT.CONTACT' | translate }}</a>
      <div class="cart-button-wrapper">
        <button class="cart-button" routerLink="/checkout">
          <a class="cart-label">{{ 'CART.CART' | translate }}</a>
          <span class="cart-icon-wrapper">
            🛒
            <span class="cart-badge" *ngIf="cartItemCount > 0">{{ cartItemCount }}</span>
          </span>
        </button>
      </div>
    </nav>

    <div class="lang-toggle" (click)="toggleLanguageDropdown()">
      <img [src]="flagIcon" [alt]="altText" class="flag-icon" />
      <div class="language-dropdown-menu" *ngIf="showLanguageDropdown">
        <div class="dropdown-item" *ngIf="languageLabel === 'Português'" (click)="switchLanguage('en')">
          <img src="assets/imgs/flags/us.svg" alt="English Flag" class="flag-icon" />
          <span>English</span>
        </div>
        <div class="dropdown-item" *ngIf="languageLabel === 'English'" (click)="switchLanguage('pt')">
          <img src="assets/imgs/flags/br.svg" alt="Portuguese Flag" class="flag-icon" />
          <span>Português</span>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="dropdown mobile-dropdown" *ngIf="isMobile && showNavDropdown">
  <div class="dropdown-item" routerLink="/store">{{ 'SCUMSTORE.SCUMSTORE' | translate }}</div>
  <div class="dropdown-item" (click)="scrollTo('tour')">{{ 'TOUR.TOUR' | translate }}</div>
  <div class="dropdown-item" (click)="openContactModal()">{{ 'CONTACT.CONTACT' | translate }}</div>
  <div class="cart-button-wrapper">
    <button class="cart-button" routerLink="/checkout">
      Carrinho 🛒
      <span class="cart-count" *ngIf="cartItemCount > 0">{{ cartItemCount }}</span>
    </button>
  </div>
</div>

<app-contact
  *ngIf="isContactModalOpen"
  [isOpen]="isContactModalOpen"
  (close)="closeContactModal()"
></app-contact>
