<div [ngClass]="{ 'coming-soon-mode': comingSoon, 'product-grid-mode': !comingSoon }">
  <div *ngIf="comingSoon" class="coming-soon-card">
    <h2 class="store-title">SCUMSTORE</h2>
    <img src="assets/imgs/logos/pidgeon3.png" alt="Pidgeon" class="pidgeon" />
    <h3>{{ 'SCUMSTORE.COMING_SOON' | translate }}</h3>
  </div>

  <div *ngIf="!comingSoon" class="product-grid">
    <div *ngFor="let product of products" class="product-card" (click)="navigateToProduct(product.id)">
      <img [src]="product.imageUrl" alt="{{ product.nameKey | translate }}" />
      <h2>{{ product.nameKey | translate }}</h2>
      <p class="price">{{ product.price | currency }}</p>
      <button class="view-details">{{ 'SCUMSTORE.VIEW_DETAILS' | translate }}</button>
    </div>
  </div>
</div>