<div class="modal-overlay" (click)="closeModal()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <app-toast #toast></app-toast>
    <button class="close-button" (click)="closeModal()">✕</button>

    <div class="product-details">
      <div class="product-images">
        <img [src]="currentImage" alt="{{ product.nameKey | translate }}" (click)="toggleImage()" />
        <p class="image-hint">{{ 'SCUMSTORE.CLICK_TO_VIEW' | translate }}</p>
      </div>

      <div class="product-info">
        <h2>{{ product.nameKey | translate }}</h2>
        <p class="price">{{ getProductPrice() | currency: currencyCode }}</p>
        <div class="size-selector">
          <label>{{ 'SCUMSTORE.SELECT_SIZE' | translate }}</label>
          <div class="size-options">
            <button
              *ngFor="let size of product.sizes"
              [disabled]="product.stock[size] === 0"
              [class.selected]="selectedSize === size"
              [class.sold-out]="product.stock[size] === 0"
              (click)="product.stock[size] > 0 && (selectedSize = size)">
              {{ 'SCUMSTORE.SIZE_' + size | translate }}
            </button>
          </div>
        </div>

        <label class="stock-info" *ngIf="!hasAvailableStock(product)">
          {{ 'SCUMSTORE.OUT_OF_STOCK' | translate }}
        </label>


        <button class="add-to-cart" [disabled]="!selectedSize || product.stock[selectedSize] === 0" (click)="addToCart()">
          {{ 'SCUMSTORE.ADD_TO_CART' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>