.toast {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(8px);
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 2000;
}

.toast::before {
  content: '';
  position: absolute;
  inset: 0;
  backdrop-filter: blur(8px);
  z-index: -1;
}

.toast > div {
  background: #00cc88;
  color: white;
  padding: 1.5em 2em;
  border-radius: 8px;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.6);
  animation: fadeInOut 3s ease-in-out;
}
